# Ignore PyCharm
*.idea
*__pycache__

# Ignore VSCode
.vscode/

# Images
*.png
*.PNG
*.JPG
*.JPEG
*.jpeg
*.jpg
*.gif
*.giff

# Ignore output ordner
output/

# Ignore data ordner
data/
emoji-data/

# Models
*.h5